# Women Entrepreneurship Analysis

In [296]:
import numpy as np
import pandas as pd

In [297]:
df=pd.read_excel('C:\\Users\\ARUN PRAVEEN\\Desktop\\Women Entrepreneurs Meetup (Responses).xlsx')

In [298]:
df.head()

,Timestamp,Full Name,city,Brief about your start-up
0,2020-08-20 16:39:50.273,Mehak Nayyar,Bareilly,Make handmade products at home related to knit...
1,2020-08-20 18:08:17.990,Anshika Jain,Sagar,Craft based product design
2,2020-08-20 18:14:07.821,Bhairavee Pradhan-Nitave,Pune,I am a working professional.
3,2020-08-20 18:21:00.268,Monika,Chennai,Really new to this so no idea
4,2020-08-20 19:32:41.238,Stuti Prasad,MUMBAI,I am working with a road safety startup.

In [299]:
df.shape

(98, 4)

In [300]:
df.describe()

,Timestamp,Full Name,city,Brief about your start-up
count,98,98,98,98
unique,98,89,58,94
top,2020-09-04 19:50:08.269000,Anapurna Monga,Pune,Kishma Venture Pvt Ltd
freq,1,2,15,2
first,2020-08-20 16:39:50.273000,NaN,NaN,NaN
last,2020-10-09 14:17:28.803000,NaN,NaN,NaN

In [301]:
df.rename(columns={'Brief about your start-up':'start-up info'},inplace=True)

In [302]:
df.head()

,Timestamp,Full Name,city,start-up info
0,2020-08-20 16:39:50.273,Mehak Nayyar,Bareilly,Make handmade products at home related to knit...
1,2020-08-20 18:08:17.990,Anshika Jain,Sagar,Craft based product design
2,2020-08-20 18:14:07.821,Bhairavee Pradhan-Nitave,Pune,I am a working professional.
3,2020-08-20 18:21:00.268,Monika,Chennai,Really new to this so no idea
4,2020-08-20 19:32:41.238,Stuti Prasad,MUMBAI,I am working with a road safety startup.

In [303]:
#Natural language processing
import nltk
from nltk.tokenize import word_tokenize

In [304]:
from nltk.corpus import stopwords

In [305]:

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\ARUN
[nltk_data]     PRAVEEN\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [306]:
stop_words=stopwords.words('english')

In [307]:
len(stop_words)

179

In [308]:
import string
def post_punc(x):
    s=str.maketrans('','',string.punctuation)
    return x.translate(s)

In [309]:
df['start-up info']=df['start-up info'].apply(post_punc)

In [310]:
df.head()

,Timestamp,Full Name,city,start-up info
0,2020-08-20 16:39:50.273,Mehak Nayyar,Bareilly,Make handmade products at home related to knit...
1,2020-08-20 18:08:17.990,Anshika Jain,Sagar,Craft based product design
2,2020-08-20 18:14:07.821,Bhairavee Pradhan-Nitave,Pune,I am a working professional
3,2020-08-20 18:21:00.268,Monika,Chennai,Really new to this so no idea
4,2020-08-20 19:32:41.238,Stuti Prasad,MUMBAI,I am working with a road safety startup

In [311]:
def remove_stopwords(x):
    x=[word.lower() for word in x.split() if word.lower() not in stop_words]
    return (" ").join(x)

In [312]:
df['start-up info']=df['start-up info'].apply(remove_stopwords)

In [313]:
df.head()

,Timestamp,Full Name,city,start-up info
0,2020-08-20 16:39:50.273,Mehak Nayyar,Bareilly,make handmade products home related knitted dr...
1,2020-08-20 18:08:17.990,Anshika Jain,Sagar,craft based product design
2,2020-08-20 18:14:07.821,Bhairavee Pradhan-Nitave,Pune,working professional
3,2020-08-20 18:21:00.268,Monika,Chennai,really new idea
4,2020-08-20 19:32:41.238,Stuti Prasad,MUMBAI,working road safety startup

In [314]:
from nltk.probability import FreqDist
fdist=FreqDist()

In [315]:
for i in df['start-up info']:
    for words in i.split():
        fdist[words.lower()]+=1

In [316]:
fdist_topten=fdist.most_common(10)
fdist_topten

[('startup', 11),
 ('women', 11),
 ('ngos', 10),
 ('working', 9),
 ('business', 9),
 ('financial', 9),
 ('started', 7),
 ('well', 7),
 ('art', 6),
 ('start', 6)]

In [317]:
Domains=['Foods','Healthcare','Technical stuffs','dress& Craft design',
          'Society','Consultancy','Education','Entertainment','Mixed','New idea']

In [318]:
startup_Domain=[]
for i in range(len(df)):
    if i in [26,32,52,57,65,71,77,79,91]:
        startup_Domain.append(Domains[0])
    elif i in [54,67,72]:
        startup_Domain.append(Domains[1])
    elif i in [4,8,30,66,74,75,84]:
        startup_Domain.append(Domains[2])
    elif i in [0,1,21,24,29,38,43,47,48,58,59,62,64,86,87]:
        startup_Domain.append(Domains[3])
    elif i in [31,37,39,41,60,63,85,93,97]:
        startup_Domain.append(Domains[4])
    elif i in [12,16,17,25,27,33,34,45,95]:
        startup_Domain.append(Domains[5])
    elif i in [7,50,69,73,80,94,96]:
        startup_Domain.append(Domains[6])
    elif i in [18,22,28,36]:
        startup_Domain.append(Domains[7])
    elif i in [2,6,9,10,11,13,14,16,42,46,49,53,68,70,76,81,88,90,92]:
        startup_Domain.append(Domains[8])
    else:
        startup_Domain.append(Domains[9])  
startup_Domain

['dress& Craft design',
 'dress& Craft design',
 'Mixed',
 'New idea',
 'Technical stuffs',
 'New idea',
 'Mixed',
 'Education',
 'Technical stuffs',
 'Mixed',
 'Mixed',
 'Mixed',
 'Consultancy',
 'Mixed',
 'Mixed',
 'New idea',
 'Consultancy',
 'Consultancy',
 'Entertainment',
 'New idea',
 'New idea',
 'dress& Craft design',
 'Entertainment',
 'New idea',
 'dress& Craft design',
 'Consultancy',
 'Foods',
 'Consultancy',
 'Entertainment',
 'dress& Craft design',
 'Technical stuffs',
 'Society',
 'Foods',
 'Consultancy',
 'Consultancy',
 'New idea',
 'Entertainment',
 'Society',
 'dress& Craft design',
 'Society',
 'New idea',
 'Society',
 'Mixed',
 'dress& Craft design',
 'New idea',
 'Consultancy',
 'Mixed',
 'dress& Craft design',
 'dress& Craft design',
 'Mixed',
 'Education',
 'New idea',
 'Foods',
 'Mixed',
 'Healthcare',
 'New idea',
 'New idea',
 'Foods',
 'dress& Craft design',
 'dress& Craft design',
 'Society',
 'New idea',
 'dress& Craft design',
 'Society',
 'dress& Craft design',
 'Foods',
 'Technical stuffs',
 'Healthcare',
 'Mixed',
 'Education',
 'Mixed',
 'Foods',
 'Healthcare',
 'Education',
 'Technical stuffs',
 'Technical stuffs',
 'Mixed',
 'Foods',
 'New idea',
 'Foods',
 'Education',
 'Mixed',
 'New idea',
 'New idea',
 'Technical stuffs',
 'Society',
 'dress& Craft design',
 'dress& Craft design',
 'Mixed',
 'New idea',
 'Mixed',
 'Foods',
 'Mixed',
 'Society',
 'Education',
 'Consultancy',
 'Education',
 'Society']

In [319]:
df['startup_Domains']=startup_Domain

In [320]:
df.head()

,Timestamp,Full Name,city,start-up info,startup_Domains
0,2020-08-20 16:39:50.273,Mehak Nayyar,Bareilly,make handmade products home related knitted dr...,dress& Craft design
1,2020-08-20 18:08:17.990,Anshika Jain,Sagar,craft based product design,dress& Craft design
2,2020-08-20 18:14:07.821,Bhairavee Pradhan-Nitave,Pune,working professional,Mixed
3,2020-08-20 18:21:00.268,Monika,Chennai,really new idea,New idea
4,2020-08-20 19:32:41.238,Stuti Prasad,MUMBAI,working road safety startup,Technical stuffs

In [321]:
df.city.unique

<bound method Series.unique of 0        Bareilly
1           Sagar
2            Pune
3         Chennai
4          MUMBAI
         ...
93    Navi Mumbai
94         Mumbai
95       Shillong
96           Pune
97      HYDERABAD
Name: city, Length: 98, dtype: object>

In [322]:
df['city']=df['city'].str.lower().str.strip()

In [323]:
df['city'].value_counts()

pune                16
mumbai               8
guwahati             7
bangalore            5
new delhi            5
hyderabad            5
visakhapatnam        5
delhi                4
noida                3
vadodara             2
shillong             2
bihar                2
bareilly             2
lucknow              2
tezpur               2
chintamani           1
indore               1
south west delhi     1
nashik               1
hoshangabad m.p.     1
nagpur               1
saharsa              1
ponda goa            1
navi mumbai          1
kolkata              1
jagdalpur            1
raipur               1
yamunanagar          1
sagar                1
udaipur              1
patna                1
raigad               1
ghaziabad            1
moradabad            1
banglore             1
jabalpur             1
dehradun             1
london               1
hyd                  1
kurukshetra          1
chennai              1
amritsar             1
ranchi               1
Name: city, dtype: int64

In [324]:
df['city'].isna().value_counts

<bound method IndexOpsMixin.value_counts of 0     False
1     False
2     False
3     False
4     False
      ...
93    False
94    False
95    False
96    False
97    False
Name: city, Length: 98, dtype: bool>

In [325]:
df.head()

,Timestamp,Full Name,city,start-up info,startup_Domains
0,2020-08-20 16:39:50.273,Mehak Nayyar,bareilly,make handmade products home related knitted dr...,dress& Craft design
1,2020-08-20 18:08:17.990,Anshika Jain,sagar,craft based product design,dress& Craft design
2,2020-08-20 18:14:07.821,Bhairavee Pradhan-Nitave,pune,working professional,Mixed
3,2020-08-20 18:21:00.268,Monika,chennai,really new idea,New idea
4,2020-08-20 19:32:41.238,Stuti Prasad,mumbai,working road safety startup,Technical stuffs

In [326]:
df.to_excel('C:\\Users\\ARUN PRAVEEN\\Desktop\\updated_Women Entrepreneurship.xlsx',index=False)